.sitenav-container {
  position: absolute;
  width: 100vw;
}

.sitenav-container .normal-menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 64px;
  line-height: 22px;
  align-items: center;
  flex-wrap: nowrap;
  background-color: black;
  z-index: 100;
}

.sitenav-container a,
.sitenav-container button {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

.sitenav-container a:visited,
.sitenav-container button:visited {
  all: unset;
}

.sitenav-container .normal-menu .title {
  margin: 0 66px;
  text-align: center;
}

.sitenav-container .normal-menu .projects {
  margin-left: auto;
  margin-right: 24px;
  text-align: center;
}

.sitenav-container .normal-menu .writing {
  margin-right: 24px;
  text-align: center;
}

.sitenav-container .normal-menu .about {
  margin-right: 24px;
  text-align: center;
}

.sitenav-container .normal-menu .more {
  text-align: center;
  height: 22px;
  width: 22px;
  background-image: url(../../public/favicon.ico);
  background-size: contain;
  margin-right: 66px;
}

.sitenav-container .hamburger-menu {
  display: none;
}

@media only screen and (max-width: 600px) {

  .sitenav-container .normal-menu .projects,
  .sitenav-container .normal-menu .writing,
  .sitenav-container .normal-menu .about {
    display: none;
  }

  .sitenav-container .normal-menu .more {
    margin-left: auto;
  }

  .sitenav-container .hamburger-menu {
    display: block;
    padding-top: 64px;
  }

  .sitenav-container .hamburger-menu .projects,
  .sitenav-container .hamburger-menu .writing,
  .sitenav-container .hamburger-menu .about {
    align-items: center;
    background-color: black;
    display: flex;
    height: 30px;
    justify-content: center;
    position: relative;
    text-decoration: underline;
    z-index: 100;
  }
}

@media only screen and (max-width: 300px) {
  .sitenav-container .normal-menu .title {
    margin: auto;
  }

  .sitenav-container .normal-menu .more {
    margin: auto;
  }
}